@property --bg-color {
  syntax: "<color>";
  inherits: false;
  /* initial-value: rgb(251, 250, 247); */
  initial-value: #f2ebdf;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

.nav {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease-in-out;
  a {
    text-decoration: none;
    color: black;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding-left: 0;
  }
  li {
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }
  li:hover {
    border-bottom: 1px solid black;
  }
}

.nav.nav-hidden {
  transform: translateY(-100%);
}

.nav-active {
  border-bottom: 1px solid black !important;
}

.container {
  margin: 0 5% 5% 5%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.container-grid {
  margin: 0 5% 5% 5%;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr;
  background-color: var(--bg-color);
}

.title {
  margin: 100px 0 30px 0;
  display: flex;
  justify-content: center;
}

.sub-header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

button[type="submit"] {
  -webkit-appearance: none; /* Resets Safari and iOS native styling */
  -moz-appearance: none; /* Resets Firefox styling */
  appearance: none; /* Standard property */

  /* Safari also enforces an internal border-radius; reset it if you want square buttons */
  border-radius: 0;

  /* iOS Safari sometimes forces an opacity change on disabled buttons */
  opacity: 1;

  background-color: #f2f0ef;
  border: 1px solid black;
  border-radius: 5px;
}

button[type="submit"]:hover {
  cursor: pointer;
  color: #f2f0ef;
  background-color: #a7a782;
  border-color: #a7a782;
}

button[type="submit"]:active {
  background-color: #5d613d;
  border-color: #5d613d;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;

  button {
    width: 200px;
    font-size: 1rem;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #a7a782;
    background-color: #a7a782;
    color: #f2f0ef;
    cursor: pointer;
  }

  button:hover {
    background-color: #5d613d;
    border-color: #5d613d;
  }

  button:active {
    background-color: #182825;
    border-color: #182825;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input[type="password"] {
    background-color: #f2f0ef;
    border: 1px solid #c9c8c7;
    border-radius: 2px;
    padding: 7px;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  }

  input[type="password"]:active {
    border: 1px solid #c9c8c7;
  }

  button {
    height: 40px;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }

  button:focus {
    background-color: #c9c8c7;
    border: 1px solid #c9c8c7;
  }
}

@media screen and (max-width: 768px) {
  .nav ul {
    gap: 25px;
  }
}
