.home {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.scroll-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  object-fit: cover;
}

.thin {
  font-weight: 100;
}

.title {
  animation: title-slide-down 2s ease-out forwards;
}

.amp {
  font-family: "Kapakana";
  font-size: 6.5rem;
}

.footer {
  color: white;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: footer-slide-up 2s ease-out forwards;
  animation-delay: 0.5s;
  transform: translateY(200px);
  position: fixed;
  bottom: 0;
  width: calc(95% - 20px);
  margin-bottom: 20px;
}

.footer-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-arrow {
  opacity: 0;
  transform: scale(2.2);
  transform-origin: center;
  animation:
    fade-in 1.5s ease-out forwards,
    bounce alternate 0.8s infinite ease-out;
  animation-delay: 2.8s;
}

.footer-arrow:hover {
  filter: brightness(0) invert(37%) sepia(21%) saturate(1633%) hue-rotate(90deg)
    brightness(96%) contrast(89%);
  cursor: pointer;
}

.footer-arrow:active {
  filter: brightness(0) invert(20%) sepia(21%) saturate(735%) hue-rotate(85deg)
    brightness(97%) contrast(92%);
}

@keyframes title-slide-down {
  from {
    translate: 0 -300px;
    scale: 100% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes footer-slide-up {
  to {
    transform: translateY(0);
  }
}

@keyframes bounce {
  from {
    translate: 0 0;
    scale: 100% 1;
  }
  to {
    translate: -10px 0;
    scale: 100% 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
