@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat.woff") format("woff");
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.3em;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-size: 6.5rem;
  font-family: "Bodoni Moda";
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  .title {
    font-size: 2.5rem;
  }
}
