body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.5em;
  background-color: #36404a;
}

.card {
  width: 500px;
  background-image: url(assets/img/parchment.jpg);
  background-size: 500px;
  background-position: auto;
  outline: 1px double #cd1c18;
  outline-width: 3px;
  outline-offset: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-sm {
  height: 700px;
}

.title {
  margin-top: 70px;
}

.rsvp-btn {
  text-decoration: none;
  font-weight: 500;
  color: #fafafa;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  background-color: #84b067;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rsvp-btn:hover {
  background-color: #4b633b;
}

.rsvp-btn:active {
  background-color: #2c3b23;
}
