.home-pic {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  img {
    margin-top: 40px;
    width: 80%;
  }
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .home-pic {
    margin-top: 60px;
  }
}
