.home-pic {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  img {
    margin-top: 40px;
    width: 80%;
    --fade-width: 20px;
    mask-image:
      linear-gradient(
        to right,
        transparent,
        black var(--fade-width) calc(100% - var(--fade-width)),
        transparent
      ),
      linear-gradient(
        to bottom,
        transparent,
        black var(--fade-width) calc(100% - var(--fade-width)),
        transparent
      );
    mask-composite: intersect;
  }
}

.title {
  margin-bottom: 0;
}

.sub-header {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}
