table {
  border: 2px solid black;
  border-spacing: 0px;
}

thead {
  text-align: left;
  background-color: #ede8d0;
}

th {
  padding: 5px;
}

td {
  padding: 2px 5px;
}

td:last-of-type,
th:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: #f2f2ef;
}
