#findParty {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 50px;

  label {
    font-size: 1rem;
    margin-left: 15px;
  }

  input[type="text"] {
    font-size: 0.9rem;
    padding: 5px;
    text-align: center;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
  }
}

input[type="radio"] {
  margin: 0 5px 0 0;
}

.container {
  width: 60%;
  align-items: center;
}

.searchBtn {
  display: flex;
  justify-content: center;
}

.party {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.guests {
  width: 75%;
  text-align: center;

  legend {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

fieldset {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-party-btn {
  width: 120px;
  height: 40px;
  color: #f2f0ef;
  background-color: #3b3430;
  border: 1px solid #3b3430;
  border-radius: 10px;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.select-party-btn:hover {
  background-color: black;
}

.guest {
  display: flex;
  justify-content: space-between;
  width: 100%;

  label {
    font-size: 1.1rem;
  }
}

.guest-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.guestResponse {
  display: flex;
  gap: 30px;
}

.btn-container {
  margin: 0;
}

.text {
  text-align: center;
  margin-bottom: 40px;
}

.radioResponse {
  display: flex;
  align-items: center;
}

#rsvp {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  #findParty {
    label {
      margin: 0;
      text-align: center;
    }
  }

  form {
    width: 70%;

    label {
      font-size: 1rem;
    }

    input[type="text"] {
      padding: 2px;
      text-align: center;
      height: 30px;
      border-radius: 30px;
      border: 1px solid black;
      font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 20px;
    }
  }

  fieldset {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .guests legend {
    font-size: 1.2rem;
  }

  .party-simple {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .party {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .guest {
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.8rem;
    }
  }

  .guestResponse {
    display: flex;
    margin: 5px 0;
  }

  .select-party-btn {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    margin-top: 10px;
  }
}
