.container {
  margin: 0 15%;
}

.question {
  margin-bottom: 50px;
}

.question-header {
  margin-bottom: 10px;
}

.question-title {
  font-size: 2.5rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 7%;
  }
  .question {
    margin-bottom: 35px;
  }
  .question-header {
    margin-bottom: 7px;
  }
  .question-title {
    font-size: 1.6rem;
  }
}
