body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f0ef;
}

@media screen and (max-width: 768px) {
  form {
    width: 50%;
  }

  input[type="password"] {
    height: 30px;
  }
}
