body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f0ef;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;

  input[type="password"] {
    background-color: #f2f0ef;
    border: 1px solid #c9c8c7;
    border-radius: 2px;
    padding: 7px;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  }

  input[type="password"]:active {
    border: 1px solid #c9c8c7;
  }

  button {
    height: 40px;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }

  button:focus {
    background-color: #c9c8c7;
    border: 1px solid #c9c8c7;
  }
}
