body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f0ef;
  overflow: hidden;
}

.pwd-form {
  width: 20%;
  background-color: rgba(199, 192, 177, 0.7);
  padding: 0 20px 20px 20px;
  border-radius: 5px;
}

form button {
  color: black;
}

.pwd-form button[type="submit"]:hover {
  background-color: #5d613d;
  border-color: #5d613d;
}

.pwd-form button[type="submit"]:active {
  background-color: #182825;
  border-color: #182825;
}

.index-img {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index-logo {
  display: flex;
  justify-content: center;
}

.index-logo img {
  height: 100px;
}

@media screen and (max-width: 768px) {
  .index-img {
    height: 100vh;
  }

  .index-img img {
    object-fit: cover;
  }

  .pwd-form {
    width: 70%;
  }

  input[type="password"] {
    height: 30px;
  }

  .index-logo img {
    height: 100px;
    margin-bottom: 5px;
  }
}
